{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Posting some of my personal interests which can be useful to others as well.
        </p>
        <p>
          Being a CSE student , well aware of the situation right now😅 it's more tough to get a job than doing anything rn here, the recession....
        </p>
        <p>
         Sharing some knowledge which might be helpful to the ones looking for career development and other field related to Tech.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
